node_modules

yarn.lock
package-lock.json
keys.json
.yarn

#Hardhat files
cache
artifacts
.env

#dev
merge.diff
devcreatetasks.sh
devmintnft.sh
devpushtasks*.sh
devtasksauto.sh
merged-contracts-for-claude.sol.txt
examples
message_texts